@import "tailwindcss";

@theme {
  /* Твои фирменные цвета */
  --color-em: #0c614b;
  --color-em-l: #168a6b;
  --color-em-p: #d8efe9;
  --color-cream: #f4d6c7;
  --color-peach: #d38466;
  --color-peach-l: #f2cec0;
  --color-ww: #fdfbf9;
  --color-sage: #77ae9d;
  --color-sage-l: #ebf5f1;
  --color-tx: #073628;
  --color-tx-m: #466e62;

  /* Привязываем новые переменные к скачанным шрифтам */
  --font-sans: 'Manrope', sans-serif;
  --font-heading: 'Montserrat', sans-serif;

  /* Умный хак: заставляем старые классы использовать красивый Montserrat */
  --font-nunito: 'Manrope', sans-serif;
  --font-fredoka: 'Montserrat', sans-serif;
  --font-glina: 'Montserrat', sans-serif;
  --font-gooseberry: 'Montserrat', sans-serif;
  --font-everlasting: 'Montserrat', sans-serif;

  /* Тени и скругления */
  --shadow-card: 0 4px 20px rgba(7,54,40,.08);
  --shadow-card-hover: 0 8px 32px rgba(12,97,75,.15);

  --radius-xl: 28px;
  --radius-l: 20px;
  --radius-m: 14px;
}

body {
  background-color: var(--color-ww);
  color: var(--color-tx);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}